# Dependencies
node_modules

# Next.js
.next
out

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/migrations/*.sql

# Misc
.DS_Store
*.pem
npm-debug.log*
